.header {
  background-color: #b3081b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.header img {
  height: 40px;
}

.header nav a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
