.header {
  background-color: #b3081b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}
.image-logo{
  text-align: center;
}

.logoh{
  height: 100px;
  width: 400px;
}

.header nav a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
